/*Global Custom Properties*/
:root{
  --background-color: whitesmoke; /*background color for the entire page*/
  --body-font: 'Roboto', sans-serif; /*primary font used for body text, etc.*/
  --body-color: dimgray; /*color for body text, etc.*/
  --title-font: 'Montserrat', sans-serif; /*secondary font used for headers, title, etc.*/
  --title-color: black; /*color for title font, etc.*/
  --link-color: steelblue; /*color for links, special attention, etc.*/
  --highlight-color: springgreen; /*rollover color for navbar*/
  font-size:62.5%; /*sets base font size; rest of font units scale from this*/
}

html{
  background-color:var(--background-color); /*set background color for the whole page*/
}

/*holds all page contents*/
.wrapper{
  margin: auto; /*center item*/
  padding:0px;
  width: 75vw; /*sets width to % of the view width*/
  min-width: 945px; /*set up better scaling with media queries*/
  display:flex;
  justify-content:center;
  align-items:stretch;
  /*display: grid;
  grid-template-columns: 20%;
  grid-gap:5px;*/
}

/*main area where all unique page info is rendered*/
.canvas{
  margin: 0px; /*center item*/
  padding:0px;
  order:2;
  flex:1 2 86%;
  object-fit:cover;
  /*grid-column-start:2;*/
}
.canvas div{
  margin:0px;
  padding:2px;
  width:100%;
  object-fit:contain;
}
.canvas p{
  margin:2px;
  margin-right:5px;
  padding:2px;
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  text-align:justify;
}
.p-small{
  margin:0px;
  padding:2px;
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.2rem;
  list-style-type: none;
  list-style-position:inside;
}
.canvas a{
  color:var(--link-color);
  text-decoration:none;
}
/*headings*/
.canvas h1{  /*heading for Videos and Projects pages*/
  margin:0px;
  padding:2px;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2em;
  text-align:center
}
.canvas h2{ /*heading for Info page*/
  margin:0px;
  padding:2px;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1.6em;
  text-align:justify;
}
.canvas h3{ /*heading for Dates page*/
  margin:0px;
  padding:2px;
  color: var(--body-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.2rem;
}

/*canvas content styling*/

/*styles for image/video grids on project pages*/
.row {
  display: flex;
  margin:0px;
  padding:1rem;
  padding-right:0px;
  justify-content: center;
}
.column {
  margin:0px;
  padding:1rem;
  flex:.5;
  max-width: 50%;
}
.column img {
  margin-top: 5px;
  vertical-align: middle;
  width: 100%;
}
.info-column {
  padding:0px;
  flex:1;
  max-width:50%;
}
.center-vid{/*Use for one video centered on page*/
  margin:5px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-width:640px;
  min-width:560px;
  height:100%;
  max-height:385px;
  min-height:340px;
  display:block;
}

/*navbar styles*/
.navbar{
  margin:0px;
  padding:0px;
  /*grid-column-start:1;*/
  order:1;
  flex:1 1 14%;
  white-space: nowrap; /*keeps text in line on resize*/
  border:solid;
  border-color:var(--body-color);
  border-right-width:5px;
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  min-height: 99%;
  height: auto;
}
.navbar h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}
.navbar h2{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 2rem;
  line-height:1rem;
}
.navbar ul,li{
  margin-left:0px;
  padding-left:.5rem;
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  list-style-type: none;
  list-style-position:inside;
}
.navbar a{
	color:inherit;
	text-decoration:none;
}
.navbar a:hover {
  background-color: var(--highlight-color);
}
.current {
  background-color: var(--highlight-color);
}
/*homepage*/
.home-img{
  margin:0px;
  padding:0px;
  width:100%;
}
/*videos page NEED TO FIX*/
.canvas-videos{
  display: grid;
  grid-gap:10px;
  background-color: var(--background-color);
  grid-column-start:2;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.canvas-videos div{
  width:100%;
  object-fit:contain;
}
.canvas-videos h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  display: inline-block;
  padding:2px;
}
.canvas-videos p{
  text-align: justify;
  display: inline;
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.2rem;
  padding:2px;
}
.canvas-videos img{
  padding:2px;
  max-width:560px;
  width:100%;
  max-height:315px;
  height:100%;
  object-fit:contain;
  margin:0;
}
/*MEDIA QUERIES FOR RESISING FLEXBOX CONTENTS*/
/*media queries
@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
*/