/*Global Custom Properties*/
:root{
  --background-color: dimgray; /*background color for the entire page*/
  --background-color-trans:rgba(105, 105, 105,0.5);
  --body-font: 'Roboto', sans-serif; /*primary font used for body text, etc.*/
  --body-color: black; /*color for body text, etc.*/
  --title-font: 'Montserrat', sans-serif; /*secondary font used for headers, title, etc.*/
  --title-color: whitesmoke; /*color for title font, etc.*/
  --title-color-trans:rgba(245,245,245,0.5);
  --link-color: darkblue; /*color for links, special attention, etc.*/
  --highlight-color: dodgerblue;
  font-size:62.5%;
  /*SCALE FACTORS FOR TEXT*/
}
html{
  background-color:var(--background-color); /*set background color for the whole page*/
}
.bg-image{
  background-image:url(Sef1.jpg);/*replace with code*/
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height:100vh;
  width:100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  color:steelblue;
  text-decoration:none;
}
.wrapper{
  display: grid; /*initiate CSS Grid*/
  margin: auto; /*center item*/
  width: calc(50vw); /*sets width to % of the view width*/
  min-width: 945px; /*set up better scaling with media queries*/
  grid-template-columns: 20%; /*sets width for each column*/
  grid-gap:5px;
  position:absolute;
  top:10px;
  left:25vw;
}
/*navbar styles*/
.navbar{
  display:block;
  background-color: var(--background-color-trans);
  grid-column-start:1;
  white-space: nowrap; /*keeps text in line on resize*/
  min-height: 100%;
  height: auto;
}
.navbar h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}
.navbar h2{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 2rem;
  line-height:1rem;
}
.navbar ul,li{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  list-style-type: none;
  padding-left:.5rem;
  margin-left:0px;
}
.navbar a{
	color:inherit;
	text-decoration:none;
}
.navbar a:hover {
  background-color: var(--highlight-color);
}
.current {
  background-color: var(--highlight-color);
}
/*homepage*/
.bg-image-home{
  background-image:url(Sef1.jpg);/*replace with code*/
  height:100vh;
  width:100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0px;
  margin:0px;
}
/*videos page*/
.canvas-videos{
  display: grid;
  grid-gap:10px;
  background-color: var(--title-color-trans);
  grid-column-start:2;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.canvas-videos div{
  width:100%;
  object-fit:contain;
}
.canvas-videos h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  display: inline-block;
  padding:2px;
}
.canvas-videos p{
  text-align: justify;
  display: inline;
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.2rem;
  padding:2px;
}
.canvas-videos img{
  padding:2px;
  max-width:560px;
  width:100%;
  max-height:315px;
  height:100%;
  object-fit:contain;
  margin:0;
}
/*single video page*/
.canvas-vid-page{
  background-color: var(--title-color-trans);
  grid-column-start:2;
}
.canvas-vid-page div{
  object-fit:contain;
  width:100%;
  padding:2px;
}
.canvas-vid-page h1{
  margin:0;
  margin-top:10px;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2em;
  padding:2px;
  text-align:center;
}
.canvas-vid-page p{
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding:2px;
  margin:0;
  padding-top:10px;
  text-align:justify;
}
.canvas-vid-page iframe{
  width:100%;
  max-width:640px;
  min-width:560px;
  height:100%;
  max-height:385px;
  min-height:340px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
/*projects*/
.canvas-projects{
  background-color: var(--title-color-trans);
  grid-column-start:2;
}
.canvas-projects div{
  width:100%;
  object-fit:contain;
}
.canvas-projects h1{
  margin:0;
  margin-top:10px;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2em;
  padding:2px;
  text-align:center;
}
.canvas-projects p{
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding:2px;
  margin:0;
  padding-top:10px;
  text-align:justify;
}
.canvas-projects .row {
  display: flex;
  padding: 0 4px;
  justify-content: center;
}
.canvas-projects .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 2px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.column iframe {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*info*/
.canvas-info{
  margin:0;
  margin-top:10px;
  background-color: var(--title-color-trans);
  grid-column-start:2;
  }
.canvas-info div{
  width:100%;
  object-fit:contain;
  }
.canvas-info .row {
  display: flex;
  padding: 0 4px;
  justify-content: center;
}
.canvas-info .column {
  flex: 100%;
  max-width: 50%;
  padding: 0 2px;
}
.canvas-info h1{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1.6em;
  padding:2px;
  text-align:justify;
}
.canvas-info p{
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.2rem;
  padding:2px;
  margin:0;
}
.canvas-info a{
  text-decoration: none;
  color:var(--link-color);
}
/*Dates*/
.canvas-dates{
  margin:0;
  margin-top:10px;
  background-color: var(--title-color-trans);
  grid-column-start:2;
  }
.canvas-dates div{
  width:100%;
  object-fit:contain;
  }
.canvas-dates h1{
  color: var(--body-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.2rem;
  padding-left:.5rem;
  margin-bottom:0px;
  margin-left:0px;
}
.canvas-dates p{
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.2rem;
  margin-top:0px;
  margin-bottom:0px;
  padding-left:.5rem;
  margin-left:0px;
}
/*media queries
@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
*/